<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx" 
	xmlns:context="http://www.springframework.org/schema/context" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd"
	default-lazy-init="true">  
        
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
        <property name="ignoreResourceNotFound" value="true" />
        <property name="locations">
            <list>
                <!-- 标准配置 -->
                <value>classpath*:/database.properties</value>
            </list>
        </property>
    </bean>  
    <context:component-scan base-package="com.newland.beecode">
        
    </context:component-scan>
        
    <bean class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close" id="dataSource">
	
        <property name="driverClassName" value="${database.driverClassName}"/>
	
        <property name="url" value="${database.url}"/>
	
        <property name="username" value="${database.username}"/>
	
        <property name="password" value="${database.password}"/>
	
        <property name="validationQuery" value="SELECT 1 FROM DUAL"/>
	
        <property name="testOnBorrow" value="true"/>
	
    </bean>
    
        <!-- Hibernate配置 -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="namingStrategy">
            <bean class="org.hibernate.cfg.ImprovedNamingStrategy" />
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">${hibernate.dialect}</prop>
                <prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
                <prop key="hibernate.format_sql">${hibernate.format_sql}</prop>
                <prop key="hibernate.cache.use_query_cache">false</prop>
                <prop key="hibernate.query.substitutions">true=1, false=0</prop>
                <prop key="hibernate.cache.use_second_level_cache">false</prop>
            </props>
        </property>
        <property name="packagesToScan" value="com.newland.beecode.domain" /> 
        <property name="mappingResources">
        	<list>
        		<value>hbm/mysql/Dictionary.hbm.xml</value>     
        	</list>
        </property>
    </bean>  
    
        <!-- 事务管理器配置,数据源事务 -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <!-- 使用annotation定义事务 -->
    <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true" />
                   
     		<!-- 数据字典 -->
		<bean id="dictViewDao" class="com.intensoft.formater.dao.DictViewDao">
			<property name="sessionFactory" ref="sessionFactory" />
		</bean>

		<bean id="dictViewService" class="com.intensoft.formater.DictViewFormatter">
			<property name="dictViewDao" ref="dictViewDao" />
		</bean>

    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">                   
        <property name="basename" value="messages" />                 
        <property name="useCodeAsDefaultMessage" value="true" />         
    </bean> 
    <bean id="baseService" class="com.newland.beecode.service.impl.BaseServiceImpl"><!--                   
        <property name="MMSUserName" value="GD-zynn" />
        <property name="MMSPassword" value="zn1922" /> 
        -->
        <property name="MMSUserName" value="CX0011" />
        <property name="MMSPassword" value="189165" /> 
        <property name="filePath" value="d:/beecode/" />
        <!--<property name="SMSUserName" value="2SDK-EMY-6688-JBVTN"/>
        <property name="SMSPassword" value="175626"/>
        <property name="SMSKey" value="198538"/>
    -->
       <property name="SMSUserName" value="J00382"/>
        <property name="SMSPassword" value="506230"/></bean> 
</beans>
